<div class="bg-home-img vh-100">
    <div class="content container d-flex align-items-center justify-content-end h-100">
        <div class="">
            <h1 class="display-2 home-heading text-white text-right">Different methods <br>for testing water</h1>
        </div>
    </div>
    <div class="container py-2 d-flex flex-column gap-2">
        <div class="home-content">
            <div class="my-2">
                <h1 class="my-3">Bacterial tests</h1>
                <div class="home-content-image float-right mx-3">
                    <img src="https://images.unsplash.com/photo-1486825586573-7131f7991bdd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFjdGVyYWlsJTIwdGVzdHxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                        alt="Education Over Money">
                </div>
                <p class="text-justify">
                    Bacterial tests are essential in assessing the microbiological quality of water. Several methods can
                    be employed to detect and quantify bacteria in water samples. One commonly used test is the
                    heterotrophic plate count (HPC), which measures the total number of viable bacteria present in a
                    given sample. This test involves inoculating a water sample onto a nutrient agar plate and
                    incubating it under specific conditions to allow bacterial growth. After incubation, colonies are
                    counted, and the results are expressed as colony-forming units per milliliter (CFU/mL). Another
                    widely employed method is the membrane filtration technique, where a known volume of water is passed
                    through a sterile membrane filter. The filter is then placed on a selective agar medium, such as
                    MacConkey agar for coliform bacteria or m-Endo agar for total coliforms and Escherichia coli. After
                    incubation, colonies are counted, and the number of bacteria is reported as CFU/100 mL.
                    Additionally, tests like the presence-absence (P-A) test and the most probable number (MPN) method
                    are used to determine the presence or absence of specific indicator bacteria, such as E. coli, which
                    indicates fecal contamination. These tests play a crucial role in ensuring the safety of water
                    supplies and monitoring compliance with regulatory standards.
                </p>
            </div>
        </div>
        <div class="home-content">
            <div class="my-2">
                <h1 class="my-3 text-right">Mineral tests</h1>
                <div class="home-content-image float-left mx-3">
                    <img src="https://images.unsplash.com/photo-1582560475135-72433678395b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8TWluZXJhbCUyMHRlc3R8ZW58MHwxfDB8fHww&auto=format&fit=crop&w=600&q=60"
                        alt="Exposed education">
                </div>
                <p class="text-justify">
                    Mineral tests are conducted to analyze the presence and concentration of various minerals in water,
                    providing valuable insights into its quality and suitability for specific purposes. One commonly
                    tested mineral is calcium, which is important for maintaining water hardness. Water hardness is
                    determined by measuring the concentration of calcium carbonate (CaCO3) equivalents in a water
                    sample. Another mineral frequently analyzed is iron, which can be present in water due to natural
                    sources or from corroded pipes. Iron levels are measured to assess potential aesthetic issues, such
                    as discoloration or metallic taste, and to prevent potential problems in water distribution systems.
                    Additionally, tests for magnesium, sodium, potassium, and other elements are conducted to evaluate
                    their concentrations and potential impacts on water quality. These tests are typically performed
                    using specialized equipment and techniques, such as atomic absorption spectroscopy or inductively
                    coupled plasma mass spectrometry, which enable accurate quantification of mineral concentrations in
                    water samples. By assessing mineral levels, water quality professionals can identify potential
                    issues, determine appropriate treatment methods, and ensure that water meets the desired standards
                    for various applications, including drinking water, industrial processes, and agriculture.
                </p>
            </div>
        </div>
        <div class="home-content">
            <div class="my-2">
                <h1 class="my-3">PH test</h1>
                <div class="home-content-image float-right mx-3">
                    <img src="https://media.istockphoto.com/id/175755317/photo/litmus-strips-showing-ph-and-acidity.jpg?s=612x612&w=0&k=20&c=Mlu1-0H_9Nq3YywACptapV8CgroB1VHpxHM-xbMxCzY="
                        alt="Expertized learning">
                </div>
                <p class="text-justify">
                    pH testing is a fundamental analysis conducted to measure the acidity or alkalinity of water. The pH
                    scale ranges from 0 to 14, where 7 represents neutrality. A pH value below 7 indicates acidity,
                    while values above 7 indicate alkalinity. The pH of water is crucial because it affects various
                    chemical and biological processes. It is determined by measuring the concentration of hydrogen ions
                    (H+) in the water sample. Water with a pH of 7 is considered neutral, while values below 7 indicate
                    increasing acidity, and values above 7 indicate increasing alkalinity. pH testing is performed using
                    pH meters, pH indicator strips, or colorimetric methods. Maintaining appropriate pH levels in
                    different applications is essential. For instance, in drinking water, a slightly acidic to neutral
                    pH is desired to ensure it is palatable and does not corrode plumbing systems. In aquatic
                    ecosystems, pH affects the survival and growth of aquatic organisms. Industrial processes,
                    agricultural practices, and wastewater treatment also require careful monitoring of pH to optimize
                    performance and prevent adverse effects. pH testing serves as a valuable tool for water quality
                    assessment and helps in determining appropriate corrective measures when necessary.
                </p>
            </div>
        </div>
    </div>
</div>